.home{
  background: url("https://img.freepik.com/free-vector/rupee-symbol-digital-technology-background_1017-36810.jpg?w=1060&t=st=1727502743~exp=1727503343~hmac=d7745319141f5f59a2629b0ee9f281154ee7a3d72f0042f97e56496b74f854c4") no-repeat;
  align-items: center;
}
.panal{
  position: absolute;
  top: 20%;
  left: 20%;
  width: 20%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
  padding:  25px 25px 25px 25px;
}